@{
    ViewBag.Title = "Home Page";
}


<section id="services" class="white-bg padding-top-bottom">

    <div class="container">

        <header class="section-header text-center">

            <h1 class="scrollimation scale-in in">What I Work On</h1>
            <p>I am passionate about combining function, interaction and form <br>to develope for fitting user expectations that makes them happy. </p>

        </header>

        <div class="row services">

            <div class="col-md-3 col-sm-6 item scrollimation fade-up in">

                <div class="icon">
                    <img class="img-responsive img-center" src="~/Content/assets/service1.png" alt="">
                </div>

                <h2>Web Apps Development</h2>
                <p>Developing robust and interactive web apps on.</p>

            </div>

            <div class="col-md-3 col-sm-6 item scrollimation fade-up d1 in">

                <div class="icon">
                    <img class="img-responsive img-center" style="width: 47%;" src="~/Content/assets/azureCloud.png" alt="">
                </div>

                <h2>Azure Cloud Services</h2>
                <p>Microsoft Azure is an open, flexible, enterprise-grade cloud computing platform</p>

            </div>

            <div class="col-md-3 col-sm-6 item scrollimation fade-up d2 in">
                <div class="icon">
                    <img class="img-responsive img-center" src="~/Content/assets/service3.png" alt="">
                </div>

                <h2>Test-driven development</h2>
                <p>Test as you code</p>

            </div>

            <div class="col-md-3 col-sm-6 item scrollimation fade-up d3 in">

                <div class="icon">
                    <img class="img-responsive img-center" style="width: 57%;" src="~/Content/assets/deployment.png" alt="">
                </div>

                <h2>Integration and Deployment</h2>
                <p>Continuous integration and Deployment</p>

            </div>

        </div>

    </div>

</section>
@*
<section id="feat-project" class="gray-bg padding-top">

    <div class="container">

        <header class="section-header text-center">

            <h1 class="scrollimation scale-in in">Featured Project</h1>
          

        </header>

        <div class="scrollimation fade-up in">
            <img class="img-responsive img-center" src="~/Content/assets/chrome-top.png" alt="">

            <div class="img-wrapper">

                <img class="img-responsive img-center" src="~/Content/assets/featured.jpg" alt="">

                <p class="text-center on-hover"><a class="btn btn-meflat icon-right" href="#external">Visit Website<i class="fa fa-arrow-right"></i></a></p>

            </div>
        </div>

    </div>

</section>*@

<section id="about" class="dark-bg light-typo padding-top-bottom">

    <div class="container">

        <header class="section-header text-center">

            <h1 class="scrollimation scale-in in">About Me</h1>

        </header>

        <div class="row">

            <div class="col-sm-8 col-sm-offset-2">

                <img class="img-responsive img-center img-circle scrollimation fade-left in" style="width: 75%" src="~/Content/assets/about.jpg" alt="">

                <p class="text-center scrollimation fade-in in">I am Aakash Pawar, a twenty five year old developer from Pune. 
                    I have graduated with a Master degree of Technology in Computer Science with applied Mathematics, from the University of Pune (Maharashtra) India.
                    I have a passion for creating challenging, intuitive and beautiful products. 
                My knowledge on what I do is very hands-on and visual.<br><br>Coding is not just a job for me, it's a passion. </p>

            </div>

        </div>



        <p class="text-center"><a class="btn btn-meflat scrollto white icon-left" href="#contact"><i class="fa fa-arrow-down"></i>Hire Me</a></p>

    </div>

</section>

<section id="skills" class="white-bg">

    <div class="container">

        <div class="row skills">

            <h1 class="text-center scrollimation fade-in in">I Got the Skills</h1>

            <div class="col-sm-6 col-md-3 text-center">
                <span class="chart easyPieChart" data-percent="80" style="height: 140px; line-height: 140px; width: 140px;">
                    <span class="percent">80</span><canvas width="140" height="140"></canvas>
                </span>
                <h2 class="text-center">C#</h2>
            </div>

            <div class="col-sm-6 col-md-3 text-center">
                <span class="chart easyPieChart" data-percent="70" style="height: 140px; line-height: 140px; width: 140px;">
                    <span class="percent">70</span><canvas width="140" height="140"></canvas>
                </span>
                <h2 class="text-center">Microsoft Azure</h2>
            </div>

            <div class="col-sm-6 col-md-3 text-center">
                <span class="chart easyPieChart" data-percent="90" style="height: 140px; line-height: 140px; width: 140px;">
                    <span class="percent">90</span>
                <canvas width="140" height="140"></canvas>
                </span>			
                <h2 class="text-center">ASP.Net MVC</h2>

            </div>	

            <div class="col-sm-6 col-md-3 text-center">
                <span class="chart easyPieChart" data-percent="90" style="height: 140px; line-height: 140px; width: 140px;">
                    <span class="percent">90</span>
                    <canvas width="140" height="140"></canvas>
                </span>		
                <h2 class="text-center">Javascript</h2>		
            </div>

        </div><!--End row -->

    </div>


</section>

<section id="portfolio" class="gray-bg padding-top-bottom">

    <div class="container">

        <header class="section-header text-center">

            <h1 class="scrollimation scale-in in">My Projects</h1>
            <p>I've worked with on...</p>

        </header>

        <!--==== Portfolio Filters ====-->
        <div id="filter-works">
            <ul>
                <li class="active scrollimation fade-right d1 in">
                    <a href="#" data-filter="*">All</a>
                </li>
                <li class="scrollimation fade-right in">
                    <a href="#" data-filter=".mock-up">Mock-Ups</a>
                </li>
                <li class="scrollimation fade-left in">
                    <a href="#" data-filter=".icons">Icons</a>
                </li>
                <li class="scrollimation fade-left d1 in">
                    <a href="#" data-filter=".ui-kits">UI Kits</a>
                </li>
            </ul>
        </div><!--End portfolio filters -->

    </div><!--End portfolio header -->

    <div class="container masonry-wrapper scrollimation fade-in in">

        <div id="projects-container" class="masonry" style="height: 735px; position: relative; visibility: visible; width: 1010px;">

            <!-- ==============================================
                SINGLE PROJECT ITEM
                =============================================== -->
            <article class="project-item mock-up masonry-brick" style="left: 0px; position: absolute; top: 0px;">

                <img class="img-responsive project-image" src="/Content/assets/MarketSniffer.png" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Market Sniffer</h2><!--Project Title -->
                    <p>Mock-Up</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->
       

                <div class="sr-only project-description" data-category="Retail" data-date="Jan 2015" data-client="Tariffic Inc." data-descr="Application to capture market data from Mobile networks" data-images="../Content/assets/projects/MarketSnifferLogin.png,../Content/assets/projects/MarketSniffer_AllPackages.png,../Content/assets/projects/MarketSniffer_CaptureBundle.png,../Content/assets/projects/MarketSniffer_ChangeMarket.png">
                    <p>Market Sniffer is an portal which users Tariffic Api and Api client which creates and manages the packages and bundles.</p>

                    <p>
                        There is an admin which :

                        Manages the users
                        Manages markets
                        Provides or links users to Markets
                        Users can switch in between markets assigned to them.

                        Create bundles and packages from the meuns

                        Users can capture, make new versions and deactivate the items.
                    </p>
                    <p>
                        Packages, bundles and Rates have:

                        Capture : Updates an existing item.
                        New Version : Adds and new version of the existing item
                        Delete : Decativates the item.
                        If any user captures, creates new version of any items above then the other user from the same market will see the packages in his/her account to recapture and confirm the item so that it finally updates/ saves the item in db.

                        The app inteligently compares the captured item with the original one to make out the differences and to send the correct item to save.
                    </p>
                    <p class="text-right"><a class="btn btn-meflat icon-right" href="#external-link">Visit Website<i class="fa fa-arrow-right"></i></a></p>
                </div>

            </article>
            <!-- ==============================================
                END PROJECT ITEM
                =============================================== -->

            <article class="project-item icons masonry-brick" style="left: 345px; position: absolute; top: 0px;">

                <img class="img-responsive project-image" src="~/Content/assets/projects/RPSignIn.png" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">RampPro</h2><!--Project Title -->
                    <p>Mock Up</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description" data-category="ELearning" data-date="July 2014" data-client="RampPro" data-descr="OnRamp A ELearning Portal" data-images="../Content/assets/projects/RPSignIn.png,../Content/assets/projects/RPAdminHomePage.png,../Content/assets/projects/RPUserManagement.png,../Content/assets/projects/RPCustomerSurvey.png,../Content/assets/projects/RPCategoryCertificationUtilizationCategoryStatistics.png,../Content/assets/projects/RPAssignTestTostandardusersorgroup.png,../Content/assets/projects/RPViewPlaybookOfSpecificCompany.png,../Content/assets/projects/RPCompanyLoginFrquency.png">
                    <p>OnRamp is an ELearning protal.</p>

                    <p>
                        It provides online training material in the form of videos, pdf, ppt, docx etc. and allow user to give test assigned to them. They can give the test and can get the scores for their tests.

                        It has following types of users :

                        Super Admin
                        Reseller
                        Standard User
                        ​Admin manages all the portal and can see all the user activities.
                        Admin an create Reseller (with its seperate company(Reseller company)) and under that a Standard User(with its seperate company(Customer Company)).
                    </p>
                    <p>
                        Reseller can also create Standard User(with its seperate company(Customer Company))  and can assign role to them as :

                        Standard User Admin
                        Standard Normal User
                        Standard user admin and also create normal user under his own and then can create and assign training material and test to the created users.
                    </p>
                    <p class="text-right"><a class="btn btn-meflat icon-right" href="#external-link">Visit Website<i class="fa fa-arrow-right"></i></a></p>
                </div>

            </article><!--End Project Item -->

            <article class="project-item mock-up masonry-brick" style="left: 690px; position: absolute; top: 0px;">

                <img class="img-responsive project-image" src="~/Content/assets/dribbble_3.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Browsers Mock-up</h2><!--Project Title -->
                    <p>Mock-Up</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description" data-category="Mock-Up" data-client="Myself" data-descr="All of the Project Attributes above this text are optional. This project doesn't include a date or link attribute." data-images="assets/projects/preview_3_1.jpg,assets/projects/preview_3_2.jpg,assets/projects/preview_3_3.jpg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>

                    <p>Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                    <p class="text-right"><a class="btn btn-meflat icon-left" href="#external-link"><i class="fa fa-dribbble"></i>View on Dribble</a></p>
                </div>

            </article><!--End Project Item -->

            <article class="project-item ui-kits masonry-brick" style="left: 0px; position: absolute; top: 245px;">

               @* <img class="img-responsive project-image" src="~/Content/assets/blog-ui-sm_1x.jpg" alt=""><!--Project thumb -->*@

                    <div class="hover-mask">
                        <h2 class="project-title">Blog UI-Kit</h2><!--Project Title -->
                        <p>UI-Kit</p><!--Project Subtitle -->
                    </div>

                    <!--==== Project Preview HTML ====-->

                    <div class="sr-only project-description" data-category="UI-Kits" data-date="November 2013" data-link="www.example.com,http://www.google.com" data-descr="This is a place for a quick description of the project. Use it or not to say a little things about the project." data-images="assets/projects/blog-ui-full-1.jpg,assets/projects/blog-ui-full-2.jpg,assets/projects/blog-ui-full-3.jpg">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>

                        <p>Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.</p>
                        <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                    </div>

</article><!--End Project Item -->

            <article class="project-item mock-up masonry-brick" style="left: 345px; position: absolute; top: 245px;">

                <img class="img-responsive project-image" src="~/Content/assets/dribbble_5.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">iPhone Mock-ups</h2><!--Project Title -->
                    <p>Mock-Up</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description" data-descr="This project doesn't include attributes in the sidebar. Just a small description is enough." data-images="assets/projects/preview_5_1.jpg,assets/projects/preview_5_2.jpg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>

                    <p>Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                    <p class="text-right"><a class="btn btn-meflat icon-left" href="#external-link"><i class="fa fa-dribbble"></i>View on Dribble</a></p>
                </div>

            </article><!--End Project Item -->

            <article class="project-item icons masonry-brick" style="left: 690px; position: absolute; top: 245px;">

                <img class="img-responsive project-image" src="~/Content/assets/dribbble_6.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Line Icons</h2><!--Project Title -->
                    <p>Icons</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description" data-category="Icons" data-client="Google Inc." data-link="www.google.com,http://www.google.com" data-descr="All of the Project Attributes above this text are optional. This project doesn't include a date attribute." data-images="assets/projects/preview_6_1.jpg,assets/projects/preview_6_2.jpg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>

                    <p>Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                    <p class="text-right"><a class="btn btn-meflat icon-right" href="#external-link">Visit Website<i class="fa fa-arrow-right"></i></a></p>
                </div>

            </article><!--End Project Item -->

            <article class="project-item ui-kits masonry-brick" style="left: 0px; position: absolute; top: 490px;">

                <img class="img-responsive project-image" src="~/Content/assets/flat-ui-sm_1x.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Flat UI-Kit</h2><!--Project Title -->
                    <p>UI-Kit</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description" data-category="UI-Kits" data-date="August 2013" data-link="www.example.com,http://www.google.com" data-descr="All of the Project Attributes above this text are optional. This project doesn't include a client attribute." data-images="assets/projects/flat-ui-full-1.jpg,assets/projects/flat-ui-full-2.jpg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>

                    <p>Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                </div>

            </article><!--End Project Item -->

            <article class="project-item ui-kits icons masonry-brick" style="left: 345px; position: absolute; top: 490px;">

                <img class="img-responsive project-image" src="~/Content/assets/dribbble_8.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Infographics</h2><!--Project Title -->
                    <p>UI-Kit, Icons</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description" data-category="UI-Kits" data-date="July 2013" data-client="Company Inc." data-link="www.example.com,http://www.google.com" data-descr="This is a place for a quick description of the project. Use it or not to say a little things about the project." data-images="assets/projects/preview_8_1.jpg,assets/projects/preview_8_2.jpg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>

                    <p>Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                    <p class="text-right"><a class="btn btn-meflat icon-left" href="#external-link"><i class="fa fa-dribbble"></i>View on Dribble</a></p>
                </div>

            </article><!--End Project Item -->

            <article class="project-item mock-up icons masonry-brick" style="left: 690px; position: absolute; top: 490px;">

                <img class="img-responsive project-image" src="~/Content/assets/dribbble_9.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">iDevices Outline</h2><!--Project Title -->
                    <p>Mock-Up, Icons</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description" data-category="Mock-Up" data-client="Myself" data-link="www.example.com,http://www.google.com" data-descr="All of the Project Attributes above this text are optional. This project doesn't include a date attribute." data-images="assets/projects/preview_9_1.jpg,assets/projects/preview_9_2.jpg,assets/projects/preview_9_3.jpg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>

                    <p>Phasellus porta eros vel lacus euismod consequat. Phasellus eleifend, nibh non feugiat hendrerit, lacus enim adipiscing eros, a pharetra erat neque eget est. Quisque vitae aliquet urna. Integer suscipit lectus eu enim porttitor fringilla. Ut blandit, urna in auctor euismod, arcu eros pharetra metus, a porta purus libero a nibh.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                    <p class="text-right"><a class="btn btn-meflat icon-right" href="#external-link">Visit Website<i class="fa fa-arrow-right"></i></a></p>
                </div>

            </article><!--End Project Item -->
        </div><!-- End projects -->

    </div><!-- End container -->
    <!-- ==============================================
        PROJECT PREVIEW MODAL (Do not alter this markup)
        =============================================== -->
    <div id="project-modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <div class="container">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                        <h1 id="hdr-title" class="text-center"></h1>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="image-wrapper">
                                    <img class="img-responsive" src="~/Content/assets/chrome.png" alt="">
                                    <div class="loader"></div>
                                    <div class="screen"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="project-sidebar" class="col-md-3">
                                <h2 id="sdbr-title"></h2>
                                <p id="sdbr-category"></p>
                                <p id="sdbr-date"></p>
                                <p id="sdbr-client"></p>
                                <p id="sdbr-link"><a href="#link" target="_blank"></a></p>
                                <p id="sdbr-descr"></p>
                            </div>
                            <div id="project-content" class="col-md-8 col-md-offset-1">
                            </div>
                        </div>

                    </div>
                </div><!-- End modal-body -->

            </div><!-- End modal-content -->

        </div><!-- End modal-dialog -->

    </div><!-- End modal -->

</section>
<section id="dribbble">
    <h1 class="dribbble-button"><a href="http://dribbble.com/pixeden" target="_blank">My Dribbble Shots</a></h1>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://dribbble.com/pixeden" target="_blank"><img class="img-responsive" src="~/Content/assets/dribbble_1.jpg" alt=""></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://dribbble.com/pixeden" target="_blank"><img class="img-responsive" src="~/Content/assets/dribbble_2.jpg" alt=""></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://dribbble.com/pixeden" target="_blank"><img class="img-responsive" src="~/Content/assets/dribbble_3.jpg" alt=""></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://dribbble.com/pixeden" target="_blank"><img class="img-responsive" src="~/Content/assets/dribbble_4.jpg" alt=""></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://dribbble.com/pixeden" target="_blank"><img class="img-responsive" src="~/Content/assets/dribbble_5.jpg" alt=""></a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="http://dribbble.com/pixeden" target="_blank"><img class="img-responsive" src="~/Content/assets/dribbble_6.jpg" alt=""></a>
        </div>
    </div>
</section>

<section id="contact" class="dark-bg light-typo padding-top">

    <div class="container">

        <header class="section-header text-center">

            <h1 class="scrollimation scale-in in">Drop Me a Line</h1>
            <p>I am available for freelance.<br>Can't wait for the next exciting project! Could be yours?</p>

        </header>

        <form id="contact-form" class="bl_form text-center" action="contact.php" method="post" novalidate="">
            <span class="field-wrap scrollimation fade-right in">
                <label class="control-label" for="contact-name">Name</label>
                <div class="lb_wrap" style="display: inline; position: relative;"><input id="contact-name" name="contactName" type="text" class="label_better requiredField" data-new-placeholder="Name" placeholder="Name" data-error-empty="*Enter your name"></div>
            </span>
            <span class="field-wrap scrollimation fade-in in">
                <label class="control-label" for="contact-mail">Email</label>
                <div class="lb_wrap" style="display: inline; position: relative;"><input id="contact-mail" name="email" type="email" class="label_better requiredField" data-new-placeholder="Email Address" placeholder="Email Address" data-error-empty="*Enter your email" data-error-invalid="x Invalid email address"></div>
            </span>
            <span class="field-wrap scrollimation fade-left in">
                <label class="control-label" for="contact-message">Message</label>
                <div class="lb_wrap" style="display: inline; position: relative;"><textarea id="contact-message" name="comments" rows="1" class="label_better requiredField" data-new-placeholder="Message" placeholder="Message" data-error-empty="*Enter your message"></textarea></div>
            </span>
            <p class="text-center"><button name="submit" type="submit" class="btn btn-meflat icon-left" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="fa fa-location-arrow"></i>Send Message</button></p>
            <input type="hidden" name="submitted" id="submitted" value="true">
        </form>
    </div>
</section>
